{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Schooledge</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

    </head>
    <body>


        <div class="container-fluit bg-outer" style="background-image: -moz-linear-gradient(to right, #6f42c1, #fff);">
            
                <div class="row">
                    <div class="col-sm-5">
                        
                            <h3 style="color: azure;">Welcome To SchoolEdge</h3>
                            <img src="{%static '10046253 1.png' %}">
                        
                    </div>
                
                    <div class="col-sm-2"></div>
                
                    <div class="col-sm-5 row g-3 align-items-center" >
                        <div class="col-sm-5">
                            <img src="{% static 'SE_LOGO_3__1_-removebg-preview 1.png' alt='...'%}">
                            <h2 > Sign in</h2>
                        <div class="row-sm-2">

                        </div>


                            {% if form.error %}
                            <p> Your username and password didn't match</p>
                            {% endif %}

                            <form action="{% url 'login' %}" method='post' class="form-label row g-3 align-items-center" style="background-color: #fff; padding: 30px; border-radius: 5px; box-shadow: 0, 2px,5px (0,0,0,0.1); width: 400px;">
                                {{ form.as_p }}
                                {% csrf_token%}
                                <input type='hidden' name='next' value="{{ next }}" />
                                <p><a href='{% url "password_reset" %}'>Forgotten password?</a></p>
                                <p><button type="submit" class="btn btn-primary">Log in</button></p>
                                <a href="{% url "register" %}">New Applicant</a></p>
                            </form>
                        </div>
                    </div>    
                </div>
            
        </div>
    </body>
</html>