{% extends 'base.html' %}

{% block title %} Reset your Password {% endblock  %}

{% block  content %}
<div class="container form-label row g-3 align-items-center" style="background-image: -moz-linear-gradient(to right, #6f42c1, #fff);;">
    <h1>Forgotten Password</h1>
    <p>Enter your e-mail to obtain a new password</p>
    <form method='post'>
        {{ form.as_p }}
        <p><button type="submit" class="btn btn-primary">Send E-mail</button></p>
        {% csrf_token %}
    </form>
</div>
{% endblock  %}